/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
html {
  font-size: 16px;
  text-align: center;
}

body {
  text-align: center;
  color: #fff;
  background-color: #59656B;
}

img {
  max-width: 100%;
  border: 1px #3a474e;
}


h1 {
  font-family: "Century Schoolbook";
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Franklin Gothic Book";
  font-weight: 900;
  font-size: 2em;
  color: #fff;
}

h3 {
  font-family: "Century Schoolbook";
  font-size: 1.75em;
}

p {
  font-family: "Franklin Gothic Book";
  font-size: 1.6em;
  text-align: center;
  color: #fff;
}

#scroll-button {
  display: none;
  position: fixed;
  bottom: 2.75em;
  right: 2.75%;
  z-index: 9999;
  background-color: #41877a;
  color: #cd9263;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 50%;
  font-size: 2em;
  border: 1px solid #fff;
}

#scroll-button:hover {
  background-color: #59656B;
  color: #cd9263;
}

/*------ Base Header Styles-------*/

/* #head {
  background-color: #59656B;
} */

header {
  display: flex;
  flex-flow: column wrap;
}

#hero {
  background-image: url(../img/code-mountain-6.png);
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.hero-content-wrapper {
  background: #73b0a9cc;
  border: 1px solid #b96852;
  border-radius: 15px;
  width: 85%;
  margin-top: 2em;
}

.half-content {
  display: flex;
  justify-content: center;
}

.hero-text {
  line-height: 1.6em;
  width: 80%;
}

span {
  font-weight: 500;
}

.button {
  background-color: #336D62;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  border-color: #fff;
  padding: 1em;
  text-decoration: none;
}

.button:hover {
  background-color: #f6b39a;
  color: #3a474e;
}

.intro-flex-container {
  background: #707e86;
  display: flex;
  justify-content: space-around;
  /*margin: 6em;*/
  padding-top: 1em;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  background-color: #d79888c9;
  border: 1px solid #bca162;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.topnav a {
  float: right;
  padding: .75em 0 .75em 0;
  text-decoration: none;
  font-size: 1em;
  color: #3a474e;
  font-family: "Century Schoolbook";
  text-transform: uppercase;
}

.topnav a.icon {
  float: right;
  color: #183933;
  border: 1px #183933;
  border-radius: 10px;
}

.topnav a:hover {
  background-color: #bca162;
  color: #183933;
}


/*--aside with skills--*/

#skills {
  background: #d79888c9;
  border: 1px solid #41877a;
  border-radius: 15px;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 85%;
}

p span {
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Century Schoolbook";
}

/*----project section  ----*/

#projects {
  background: #707e86;
  padding: 2em;
}

.project-container {
  background: #3a474e;
  padding: 2em;
  border-radius: 15px;
  border: 1px solid #bca162;
  margin-bottom: 2em;
}

/*--about me section--*/

.about-me-content-wrapper {
  background: #59656B;
  color: #fff;
  padding: 2em;
  border-radius: 15px;
  border: 1px solid #41877a;
}


#about {
  background: #f6b39a;
  padding: 2em;
  display: flex;
  flex-flow: row wrap;
}

.about-flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.info {
  color: #fff;
}

/*--footer-contact me section--*/

.footer-content-wrapper {
  background-image: url(../img/bailey-zindel-nrqv-hbf10m-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #59656B;
  height: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

#contact {
  background-color: #59656bab;
  border-radius: 15px;
  border: 1px solid #f6b39a;
  color: #fff;
  padding: 1.5em;
  margin-top: 4em;
  width: 35%;
}


#phone {
  width: 17%;
  background: none;
  border: none;
}

#phone:hover {
  color: #f6b39a;
}

.social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

footer a {
  color: #FEF4EC;
  text-decoration: none;
  font-weight: 900;
}

footer a:hover {
  color: #f6b39a;
}

.size-icon {
  font-size: 2.8em;
  display: flex;
  flex-flow: row wrap;
}

.footnote {
  justify-content: center;
  background-color: #59656B;
}

.footer-p {
  font-weight: 900;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet style adjustments for viewports that meet the condition */

  /*---header---*/
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.25em;
  }


  /*---about---*/
  .about-half-content {
    width: 50%;
  }

  /*---project---*/

  #projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .project-container {
    width: 40%;
  }


}

@media only screen and (min-width: 1200px) {
  #projects {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .project-container {
    width: 30%;
  }

  .logo {
    width: 100%;
  }

  .about-half-content {
    max-width: 37%;
    padding: 1.5em;
  }

  .info {
    text-align: left;
  }


  .about-flex-container {
    display: flex;
    justify-content: center;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}